langchain
ipykernel
python-dotenv
langchain-community
pypdf
pymupdf
langchain-text-splitters
requests
langchain-openai
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit
langchain_groq
langchain_core
sse_starlette
